* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #0a0a0f;
  color: #69da64;
  margin: 0 15vw;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 2vh;
    box-shadow: 0 8px 6px -6px rgb(71, 68, 68);
}

.navbar:hover {
    box-shadow: 0 10px 10px -10px rgb(71, 68, 68);
    transition: 0.5s;
}

.icon {
    padding-top: 1rem;
}

.icon img:hover {
    transform: rotate(180deg);
    transition: 1s;
}

.navbar ul {
    border: #69da64 solid 1px;
    padding: 1.2rem;
    padding-left: 2rem;
    border-radius: 40px;
    display: flex;
    gap: 30px;
    font-size: 0.8rem;
    background-color: rgb(28, 41, 28);
}

.navbar ul:hover {
    background-color: rgb(51, 75, 51);
transform: translate(0, -2px);
transition: 0.7s;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    width: 70vw;
}

.main-content {
    background-color: #140f1e;
    grid-area: 1 / 1 / 2 / 5;
    height: 30vh;
    display: flex;
    justify-content: start;
    padding: 4vw;
    padding-bottom: 30vh;
    border-radius: 20px;
    border: 2px solid rgb(81, 100, 81);
}

.main-content:hover {
    box-shadow: 0 10px 10px -10px rgb(71, 68, 68);
    border: rgb(176, 206, 132) solid 2px;
    transition: 1s;
}

.main-text-content p {
  color: gray;
  font-size: 1rem;
}

.main-text-content {
  padding-left: 20vw;
}

.medium-buttons {
  grid-area: 2 / 1 / 3 / 5;
}

.critical-c {
  grid-area: 3 / 1 / 4 / 2;
}

.high-c {
  grid-area: 3 / 2 / 4 / 3;
}

.medium-c {
  grid-area: 3 / 3 / 4 / 4;
}

.high2-c {
  grid-area: 3 / 4 / 4 / 5;
}

.threat-defected {
  grid-area: 4 / 1 / 5 / 5;
}

/* .radar, .sweep { position: absolute; } */
.radar {
  overflow: hidden;
  /* top: 20%;
  left: 20%; */
  /* margin: -117px; */
  width: 248px;
  height: 248px;
  border-radius: 50%;
  box-shadow:
    0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background:
    repeating-radial-gradient(
      transparent 0 23px,
      #287a33 24px 26px,
      #0000 27px
    ),
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50%
      no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0)
      50% no-repeat,
    linear-gradient(#333, #111);
  background-size:
    100%,
    218px 218px,
    218px 218px,
    100%;
}
.sweep {
  /* box-sizing: border-box;
  top: 16px; left: 16px; */
  border-right: solid 1px hsla(145, 50%, 40%, 0.3);
  width: 108px;
  height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(
    50deg,
    rgba(34, 34, 34, 0) 56%,
    hsla(145, 50%, 40%, 1)
  );
  animation: sweep 5s infinite linear;
}
@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}
