* {
  box-sizing: border-box;
}

body {
  background-color: #0a0a0f;
  color: #69da64;
  margin: 0 15vw;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr 1fr 2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  width: 70vw;
}

.main-content {
  background-color: #140f1e;
  grid-area: 1 / 1 / 2 / 5;
  height: 30vh;
  display: flex;
  justify-content: start;
  padding: 4vw;
  padding-bottom: 30vh;
  border-radius: 20px;
  border: 2px solid rgb(81, 100, 81);
}

.main-text-content p {
  color: gray;
  font-size: 1rem;
}

.main-text-content {
  padding-left: 20vw;
}

.medium-buttons {
  grid-area: 2 / 1 / 3 / 5;
}

.critical-c {
  grid-area: 3 / 1 / 4 / 2;
}

.high-c {
  grid-area: 3 / 2 / 4 / 3;
}

.medium-c {
  grid-area: 3 / 3 / 4 / 4;
}

.high2-c {
  grid-area: 3 / 4 / 4 / 5;
}

.threat-defected {
  grid-area: 4 / 1 / 5 / 5;
}

/* .radar, .sweep { position: absolute; } */
.radar {
  overflow: hidden;
  /* top: 20%;
  left: 20%; */
  /* margin: -117px; */
  width: 248px;
  height: 248px;
  border-radius: 50%;
  box-shadow:
    0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background:
    repeating-radial-gradient(
      transparent 0 23px,
      #287a33 24px 26px,
      #0000 27px
    ),
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50%
      no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0)
      50% no-repeat,
    linear-gradient(#333, #111);
  background-size:
    100%,
    218px 218px,
    218px 218px,
    100%;
}
.sweep {
  /* box-sizing: border-box;
  top: 16px; left: 16px; */
  border-right: solid 1px hsla(145, 50%, 40%, 0.3);
  width: 108px;
  height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(
    50deg,
    rgba(34, 34, 34, 0) 56%,
    hsla(145, 50%, 40%, 1)
  );
  animation: sweep 5s infinite linear;
}
@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}
