* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #0a0a0f;
  color: #69da64;
  margin: 0 15vw;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-radius: 10px;
  margin-bottom: 2vh;
  box-shadow: 0 8px 6px -6px rgb(71, 68, 68);
}

.navbar:hover {
  box-shadow: 0 10px 10px -10px rgb(71, 68, 68);
  transition: 0.5s;
}

.icon {
  padding-top: 1rem;
}

.icon img:hover {
  transform: rotate(180deg);
  transition: 1s;
}

h1 {
  position: absolute;
  left: 40%;
}

.navbar ul {
  border: #69da64 solid 1px;
  padding: 1.2rem;
  padding-left: 2rem;
  border-radius: 40px;
  display: flex;
  gap: 30px;
  font-size: 0.8rem;
  background-color: rgb(28, 41, 28);
}

.navbar ul:hover {
  background-color: rgb(51, 75, 51);
  transform: translate(0, -2px);
  transition: 0.7s;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  width: 70vw;
}

.main-content {
  background-color: #140f1e;
  grid-area: 1 / 1 / 2 / 5;
  height: 30vh;
  display: flex;
  justify-content: start;
  padding: 4vw;
  padding-bottom: 30vh;
  border-radius: 20px;
  border: 2px solid rgb(81, 100, 81);
}

.main-content:hover {
  box-shadow: 0 10px 10px -10px rgb(71, 68, 68);
  border: rgb(176, 206, 132) solid 2px;
  transition: 1s;
}

.main-text-content p {
  color: gray;
  font-size: 1rem;
}

.main-text-content {
  padding-left: 20vw;
}

.medium-buttons {
  grid-area: 2 / 1 / 3 / 5;
  height: fit-content;
}

.medium-buttons button {
  border: #303830;
  background-color: #140f1e;
  color: gray;
  margin-right: 2vw;
  border-radius: 30px;
  padding: 0 3px;
  padding-right: 1rem;
  border: 1px solid rgb(38, 40, 66);
  font-size: 1rem;
}

.medium-buttons button:hover {
  background-color: rgb(51, 75, 51);
  transform: translate(0, -2px);
  transition: 0.7s;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 0.7px solid gray;
  margin: 1vh;
  border-radius: 30px;
  padding: 1rem;
  border-left: 3px solid #69da64;
}

.cards:hover {
    background-color: rgb(51, 75, 51);
  transform: translate(0, -2px);
  box-shadow: 0 10px 10px -10px rgb(71, 68, 68); ;
  transition: 0.7s;
}

.cards h3 {
    grid-area: 1 / 1 / 2 / 2;
    float: left;
    font-size: 0.7rem;
    background-color: unset;
    padding: 6px;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    border:  1px solid rgb(190, 108, 121);
    border-radius: 10px;
    color: rgb(190, 108, 121);
    box-shadow:  6px 6px 6px -6px rgb(199, 120, 120);
}



.cards h4 {grid-area: 1 / 2 / 2 / 3;}
.cards h2 {grid-area: 3 / 1 / 4 / 3;}
.cards progress {
    grid-area: 2 / 1 / 3 / 2;
background-color: #69da64;
height: 10px;
}

.critical-c {
  grid-area: 3 / 1 / 4 / 2;
}

.high-c {
  grid-area: 3 / 2 / 4 / 3;
}

.medium-c {
  grid-area: 3 / 3 / 4 / 4;
}

.high2-c {
  grid-area: 3 / 4 / 4 / 5;
}

.threat-defected {
  grid-area: 4 / 1 / 5 / 5;
  width: 100%;
  border-radius: 20px;
  border: rgb(126, 86, 86) solid 2px;
  display: flex;
  flex-direction: column;
  
}

.radar {
  overflow: hidden;
  width: 248px;
  height: 248px;
  border-radius: 50%;
  box-shadow:
    0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background:
    repeating-radial-gradient(
      transparent 0 23px,
      #287a33 24px 26px,
      #0000 27px
    ),
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50%
      no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0)
      50% no-repeat,
    linear-gradient(#333, #111);
  background-size:
    100%,
    218px 218px,
    218px 218px,
    100%;
}
.sweep {
  border-right: solid 1px hsla(145, 50%, 40%, 0.3);
  width: 108px;
  height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(
    50deg,
    rgba(34, 34, 34, 0) 56%,
    hsla(145, 50%, 40%, 1)
  );
  animation: sweep 5s infinite linear;
}
@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}


footer {
    justify-content: space-between;
    display: flex;
    margin-top: 3vh;
    box-shadow: 0 0px 10px -100px rgb(148, 144, 144); ;
    /* border-radius: 20px; */
    padding: 1vw;
}

footer button {
    color: gray;
    background-color: unset;
    border-radius: 20px;
    padding: 1vw;
}

footer button:hover {
 box-shadow: 0px 10px 5px #888, 0px -10px 5px #888;
  border: rgb(176, 206, 132) solid 2px;
  transition: 1s; 
  background-color: #333;  
}